<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://cloud-mongo-db2.documents.azure.com:443/" />
        <add key="accountKey" value="Rbg23cDEfDGmK8RUK3GOtxh1PZ7Hz17tiaGZtPnXv9Vzsvp0UeW2bAdzKJ80JWD7GNqYyMPyayZd65NxRCaKgg==" />
      </appSettings>
</configuration>