@page
@model IndexModel
@{
    ViewData["Title"] = "Favourite Shortcuts";
}

<div>
    @foreach (var link in Model._links)
    {
        <a href="@link.Url" data="id=@(link.Id)&group=@(link.Group)">@link.Name</a>
    }
</div>
